extends layout

block content
  div
    div(ng-controller='DatabasesCtrl')
      h2 Databases {{ dbs.length }}
      form(ng-submit='addDb()')
        input(class='btn-primary', type='submit', value='add')
        ul
          li(ng-repeat="db in dbs") {{db.url}}


  script(defer, src='/js/databases.js')
